@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    min-height: 100vh;
    font-family: 'Open Sans', sans-serif;
    background-color: #222;
    color: #fff;
}

main .container {
    display: flex;
    flex-direction: column-reverse;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.none {
    display: none;
}

.error {
    font-weight: bold;
    color: red;
}

.nav {
    width: 100%;
    height: 60px;
    line-height: 60px;
    text-align: center;
    border-bottom: 1px solid #CCC;
    margin-bottom: 20px;
}

.nav .logo {
    font-size: 1.4rem;
    font-weight: bold;
    text-transform: uppercase;
}

main .conteudo {
    width: 100%;
    padding: 20px;
    text-align: center;
}


.conteudo_container> :nth-child(1n+1) {
    margin-bottom: 10px;
    padding: 10px;
}

.conteudo_container> :last-child {
    margin-bottom: 0px;
}

.conteudo_container> :nth-child(1n+2) h2 {
    margin-bottom: 10px;
}

.conteudo_container> :nth-child(3) ul {
    text-align: center;
    list-style-type: none;
}

.conteudo_container> :nth-child(3) ul li {
    display: inline-block;
    padding: 5px;
}

.conteudo_container> :nth-child(3) ul li::after {
    content: "»";
    color: red;
    padding-left: 10px;
}

.conteudo_container> :nth-child(3) ul li:last-child::after {
    content: "";
}

.conteudo_container .link {
    display: flex;
    justify-content: center;
    align-items: center;
}

.conteudo_container .link a {
    display: block;
    width: 150px;
    height: 40px;
    line-height: 40px;
    color: #fff;
    text-decoration: none;
    text-align: center;
    margin-left: 10px;
    cursor: pointer;
    border-radius: 8px;
    box-shadow: rgba(228, 225, 225, 0.15) 0 4px 9px;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: normal;
    border: 1px solid #ccc;
    transform: translate3d(0, 0, 0);
    transition: all .3s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
}

.conteudo_container .link a:hover {
    background-color: #ccc;
    color: #222;
}

.formulario {
    width: 100%;
    padding: 10px 15px;
    color: #222;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


.formulario form {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    border-radius: .5rem;
    border: 1px solid #ccc;
    background-color: #f7f7f7;
    box-shadow: 0px 7px 15px rgba(0, 0, 0, 0.5);
}

.formulario form .titulo {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
}

.formulario form .input label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.formulario form .input input {
    display: block;
    width: 100%;
    height: 40px;
    border: none;
    outline: none;
    border-radius: .2rem;
    border: 1px solid rgb(137, 137, 137);
    line-height: 40px;
    padding-left: 10px;
    margin-bottom: 5px;
}

.formulario form button {
    width: 100%;
    margin-top: 10px;
    text-transform: uppercase;
    appearance: none;
    backface-visibility: hidden;
    background-color: #27ae60;
    border-radius: 8px;
    border-style: none;
    box-shadow: rgba(39, 174, 96, .15) 0 4px 9px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: normal;
    line-height: 1.5;
    outline: none;
    overflow: hidden;
    padding: 13px 20px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transform: translate3d(0, 0, 0);
    transition: all .3s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: top;
    white-space: nowrap;
}

.formulario form button:hover {
    background-color: #1e8449;
    opacity: 1;
    transform: translateY(0);
    transition-duration: .35s;
}

.formulario form button:active {
    transform: translateY(2px);
    transition-duration: .35s;
}

.formulario form button:hover {
    box-shadow: rgba(39, 174, 96, .2) 0 6px 12px;
}

#resultado {
    width: 100%;
    max-width: 400px;
    border-radius: .5rem;
    border: 1px solid #ccc;
    padding: 20px;
    margin-top: 20px;
    text-align: center;
    box-shadow: 0px 7px 15px rgba(0, 0, 0, 0.5);
    background-color: #fff;
}


@media (min-width: 1024px) {
    main .conteudo {
        text-align: start;
    }

    .conteudo_container> :nth-child(3) ul {
        text-align: start;
        list-style-type: square;
    }

    .conteudo_container> :nth-child(3) ul li {
        display: list-item;
        padding: 5px;
    }

    .conteudo_container> :nth-child(3) ul li::after {
        content: "";
        color: red;
        padding-left: 0px;
    }

    main {
        position: relative;
        width: 100%;
        min-height: calc(100vh - 80px);
    }

    main .container {
        display: flex;
        flex-direction: row;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

    }

    .formulario {
        width: 60%;
    }

    .conteudo {
        width: 40%;

    }
}