<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename= 'assets/img/favicon.ico') }}">
    <title>{{ data['titulo'] }}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
        integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{{ url_for('static', filename= 'assets/css/style.css') }}">
</head>

<body>
    <header>
        <nav class="nav">
            <div class="container">
                <div class="logo">
                    {{ data['projeto'] }}
                </div>
            </div>
        </nav>
    </header>
    <main>
        <div class="container">
            <div class="conteudo">
                <div class="conteudo_container">
                    <div class="conteudo_header">
                        <h2>{{ conteudo_header['titulo']}}</h2>
                        <h5>{{ conteudo_header['sub_titulo']}}</h5>
                    </div>

                    <div style="margin-bottom: 20px;">
                        <h2>{{ conteudo_body['titulo'] }}</h2>
                        <p>{{ conteudo_body['descricao'] }}</p>
                    </div>

                    <div style="margin-bottom: 20px;">
                        <h2>{{ conteudo_body['nome_lista'] }}</h2>
                        <ul style="list-style-position: inside; margin-left:20px;">
                            {% for value in tecnologias: %}
                            <li>{{ value }}</li>
                            {% endfor%}
                        </ul>
                    </div>
                    <div class="link">
                        <p>Código Fonte:</p>
                        <a href={{ linkgit }} target="_blank">
                            <i class="fab fa-github"></i>
                            GITHUB
                        </a>
                    </div>
                </div>
            </div>

            <div class="formulario">

                <form action="/resultado" id="form1">

                    <div class="titulo">
                        <h3>Calculadora</h3>
                    </div>
                    <!--titulo-->

                    <div class="input">
                        <label for="">Informe o valor de A:</label>
                        <input type="text" name="a" id="a" placeholder="Digite o valor de (A)" required>
                    </div>
                    <!--input-->

                    <div class="input">
                        <label for="">Informe o valor de B:</label>
                        <input type="text" name="b" id="b" placeholder="Digite o valor de (B)" required>
                    </div>
                    <!--input-->

                    <div class="options">
                        <div>
                            <input type="radio" name="ope" value="mult">
                            <label for="">multiplicação:</label>
                        </div>

                        <div>
                            <input type="radio" name="ope" value="div">
                            <label for="">divisão:</label>
                        </div>

                        <div>
                            <input type="radio" name="ope" value="soma">
                            <label for="">soma:</label>
                        </div>

                        <div>
                            <input type="radio" name="ope" value="sub">
                            <label for="">subtracao: </label>
                        </div>
                    </div>
                    <!--options-->

                    <button type="submit" name="acao" role="button">calcular</button>
                </form>
                <!--form1-->

                <div id="resultado" class="none">

                </div>
                <!--resultado-->

            </div>
            <!--formulario-->

        </div>
    </main>

    <script src="{{ url_for('static', filename= 'assets/js/script.js') }}" ></script>
</body>

</html>